{% extends 'base.html.twig' %}

{% block title %} Utilisation par jour {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header">Données d'utilisation par jour</div>
        <div class="card-body">
        <div class="row justify-content-center text-center">
            <div class="col col-md-8">
            <p>Compteur à afficher :
            <select id="deviceSelect" name="deviceSelect">
                {% for device in devices %}
                    <option name="{{ device.name }}" value="{{ device.id }}">{{ device.name }}</option>
                {% endfor %}
            </select>
            </p>
            <br />
            <table class="table table-hover table-bordered text-center">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Compteur</th>
                    <th scope="col">Client</th>
                    <th scope="col">Jour</th>
                    <th scope="col">Distance parcourue (km)</th>
                    <th scope="col">Temps d'utilisation</th>
                    <th scope="col">Vitesse moyenne (km/h)</th>
                </tr>
                </thead>
                {% for device in devices %}
                    <tbody id="{{ device.id }}" {% if loop.index0 == 0 %} style="display:table-row-group;" {% else %} style="display:none;" {% endif %}>

                    <!-- donnée du jour actuel -->
                    {% for todayStat in todayStats %}
                        {% if todayStat.device == device.name %}
                        <tr>
                            <td>{{ todayStat.device }}</td>
                            <td>{{ todayStat.client }}</td>
                            <td>{{ "now" | date('d/m/Y') }}</td>
                            <td>{{ ((todayStat.distance)/1000) | round(2, 'common') }}</td>
                            <td>{{ todayStat.duration | date('H') }}h{{ todayStat.duration | date('i') }}min{{ todayStat.duration | date('s') }}s</td>
                            <td>{{ todayStat.speed | round(2, 'common') }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}

                    <!-- données des 30 jours précédents -->
                    {%  for dailyStat in dailyStats %}

                        {% if dailyStat.device.name == device.name %}
                            <tr>
                                <td>{{ dailyStat.device.name }}</td>
                                <td>{{ dailyStat.device.client.name }}</td>
                                <td>{{ dailyStat.day | date('d/m/Y') }}</td>
                                <td>{{ ((dailyStat.distance)/1000) | round(2, 'common') }}</td>
                                <td>{{ dailyStat.duration | date('H') }}h{{ dailyStat.duration | date('i') }}min{{ dailyStat.duration | date('s') }}s</td>
                                <td>{{ dailyStat.speed | round(2, 'common') }}</td>
                            </tr>
                            {% endif %}
                    {% endfor %}
                    </tbody>
                {% endfor %}
            </table>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/pings.js') }}"></script>
{% endblock %}